/* Exclusives highlight in Shelter */
img{
&[src*="pkmn/c/q/s/d.png"], /* lunupine egg */
&[src*="pkmn/m/3/2/i.png"], /* lunupine */
&[src*="pkmn/z/u/g/2.png"], /* lunupine mega forme q */
&[src*="pkmn/q/m/5/u.png"], /* blophin egg */
&[src*="pkmn/9/d/s/h.png"], /* blophin */
&[src*="pkmn/o/u/0/u.png"], /* inflale */
&[src*="pkmn/i/9/v/i.png"], /* orkit egg */
&[src*="pkmn/o/z/k/c.png"], /* orkit */
&[src*="pkmn/z/k/c/r.png"], /* orkit clawed */
&[src*="pkmn/s/4/n/s.png"], /* orcalot */
&[src*="pkmn/a/t/0/j.png"], /* faemueno egg */
&[src*="pkmn/u/8/z/t.png"], /* faemueno */
&[src*="pkmn/o/l/e/1.png"], /* faemilarin */
&[src*="pkmn/k/n/e/4.png"], /* faemisimo */
&[src*="pkmn/y/q/w/s.png"], /* wagell egg */
&[src*="pkmn/e/5/l/y.png"], /* wagell */
&[src*="pkmn/e/f/2/d.png"], /* wanamangora */
&[src*="pkmn/p/8/6/4.png"], /* wanamangora mega forme q */
&[src*="pkmn/c/u/e/3.png"], /* gosold egg */
&[src*="pkmn/t/a/f/b.png"], /* gosold */
&[src*="pkmn/y/t/1/3.png"], /* goldesem */
&[src*="pkmn/q/6/7/a.png"], /* impyre egg */
&[src*="pkmn/o/t/0/8.png"], /* impyre */
&[src*="pkmn/9/x/w/4.png"], /* baflammet */
&[src*="pkmn/e/o/7/7.png"], /* searene egg */
&[src*="pkmn/o/e/4/i.png"], /* searene */
&[src*="pkmn/w/e/u/8.png"], /* solynx egg */
&[src*="pkmn/w/9/0.png"], /* solynx */
&[src*="pkmn/z/6/f/0.png"], /* solynx mega forme q */
&[src*="pkmn/9/2/e/8.png"], /* ardik egg */
&[src*="pkmn/v/n/4/t.png"], /* ardik */
&[src*="pkmn/u/a/l/a.png"], /* sibex male */
&[src*="pkmn/1/7/1/5.png"], /* sibex female */
&[src*="pkmn/8/h/p/5.png"], /* boxaby egg */
&[src*="pkmn/p/h/o/e.png"], /* boxaby */
&[src*="pkmn/6/v/n/7.png"], /* kangspar */
&[src*="pkmn/1/j/p/o.png"], /* kangspar mega forme q */
&[src*="pkmn/5/a/l/e.png"], /* bunbori egg */
&[src*="pkmn/s/a/y/e.png"], /* bunbori */
&[src*="pkmn/7/5/d/q.png"], /* bunbori mega forme q */
&[src*="pkmn/v/v/p/m.png"], /* taiveret egg */
&[src*="pkmn/l/c/6/d.png"], /* taiveret */
&[src*="pkmn/x/0/j.png"], /* taipaeus */
&[src*="pkmn/n/r/r/9.png"], /* taimorpha */
&[src*="pkmn/o/c/k/e.png"], /* flarbat egg */
&[src*="pkmn/u/0/d.png"], /* flarbat */
&[src*="pkmn/p/k/m/e.png"], /* flarotis male */
&[src*="pkmn/3/g/q/g.png"], /* flarotis female */
&[src*="pkmn/q/c/s/g.png"], /* flaroptera male */
&[src*="pkmn/k/4/0/9.png"], /* flaroptera female */
&[src*="pkmn/7/w/7/v.png"], /* hydrark egg */
&[src*="pkmn/h/2/y/e.png"], /* hydrark */
&[src*="pkmn/j/q/x/a.png"], /* hydrinus */
&[src*="pkmn/j/3/9/z.png"], /* hydrinifor */
&[src*="pkmn/u/4/z/o.png"], /* gragon egg */
&[src*="pkmn/i/4/o/7.png"], /* gragon */
&[src*="pkmn/6/j/y/t.png"], /* gragon reaper cloth */
&[src*="pkmn/b/f/r/s.png"], /* greegon */
&[src*="pkmn/a/x/5/o.png"], /* avaragon */
&[src*="pkmn/v/k/6/v.png"], /* kinaster egg */
&[src*="pkmn/r/k/s/f.png"], /* kinastar */
&[src*="pkmn/y/o/0/r.png"], /* luckoo egg */
&[src*="pkmn/l/c/p/g.png"], /* luckoo */
&[src*="pkmn/a/6/r/j.png"], /* peckoo */
&[src*="pkmn/w/8/x/a.png"], /* peekoo */
&[src*="pkmn/7/9/i/m.png"], /* arasprit egg */
&[src*="pkmn/6/e/2/d.png"], /* arasprit */
&[src*="pkmn/8/7/j/r.png"], /* artheux */
&[src*="pkmn/4/i/h/o.png"], /* quetzephyr egg */
&[src*="pkmn/k/u/s/u.png"], /* quetzephyr */
&[src*="pkmn/8/q/d/t.png"], /* quetzaptyl */
&[src*="pkmn/z/a/0/2.png"], /* pixrine egg */
&[src*="pkmn/i/1/3/j.png"], /* pixrine */
&[src*="pkmn/2/1/j/l.png"], /* kitsunari egg */
&[src*="pkmn/z/h/9/j.png"], /* kitsunari */
&[src*="pkmn/7/4/c/m.png"], /* kitsubuki */
&[src*="pkmn/s/m/f/g.png"], /* kryptik egg */
&[src*="pkmn/p/p/m/v.png"], /* kryptik */
&[src*="pkmn/z/1/o/d.png"], /* bandicoon egg */
&[src*="pkmn/i/8/w/q.png"], /* bandicoon */
&[src*="pkmn/a/0/n/o.png"], /* phastix egg */
&[src*="pkmn/a/6/r/2.png"], /* phastix */
&[src*="pkmn/d/2/9/c.png"], /* phasmaleef forest */
&[src*="pkmn/3/h/o/8.png"], /* phasmaleef desert */
&[src*="pkmn/e/c/z/a.png"], /* glaquine egg */
&[src*="pkmn/8/f/5.png"], /* glaquine */
&[src*="pkmn/6/u/r/a.png"], /* cavallost */
&[src*="pkmn/1/4/k/l.png"], /* minibbit egg */
&[src*="pkmn/m/g/n/z.png"], /* minibbit */
&[src*="pkmn/c/5/8/x.png"], /* metabbit */
&[src*="pkmn/8/9/s/w.png"], /* terabbit */
&[src*="pkmn/i/9/x/8.png"], /* terabbit mega forme q */
&[src*="pkmn/7/y/g/4.png"], /* tillink egg */
&[src*="pkmn/o/b/o/1.png"], /* tillink */
&[src*="pkmn/c/7/e/e.png"], /* terrink */
&[src*="pkmn/7/9/n/x.png"], /* bezerell egg */
&[src*="pkmn/8/g/e/i.png"], /* bezerell */
&[src*="pkmn/7/n/e/a.png"], /* bezermuur */
&[src*="pkmn/i/y/0/l.png"], /* bezermuut */
&[src*="pkmn/x/6/y/4.png"], /* ayeren egg */
&[src*="pkmn/9/c/e/r.png"], /* ayeren */
&[src*="pkmn/y/m/9/u.png"], /* aytheraye */
&[src*="pkmn/k/w/j/q.png"], /* skeleco egg */
&[src*="pkmn/v/0/z/o.png"], /* skeleco */
&[src*="pkmn/z/m/i/9.png"], /* phantiidae */
&[src*="pkmn/1/a/l/m.png"], /* klaatupillar egg */
&[src*="pkmn/s/i/6/k.png"], /* klaatupillar */
&[src*="pkmn/s/8/k/c.png"], /* charaxalis */
&[src*="pkmn/v/z/2/x.png"], /* incantasius */
&[src*="pkmn/e/4/9/m.png"], /* kyutopi egg */
&[src*="pkmn/6/a/w/r.png"], /* kyutopi */
&[src*="pkmn/o/0/6/a.png"], /* konatus */
&[src*="pkmn/i/7/l/p.png"], /* kenyip egg */
&[src*="pkmn/u/9/w/y.png"], /* kenyip */
&[src*="pkmn/j/v/7/h.png"], /* arfrica */
&[src*="pkmn/w/v/l/6.png"], /* kalahowli */
&[src*="pkmn/g/y/k/l.png"], /* petripeep egg */
&[src*="pkmn/u/e/0/9.png"], /* petripeep */
&[src*="pkmn/i/f/5/v.png"], /* chirock */
&[src*="pkmn/6/b/o/7.png"], /* toxitrice */
&[src*="pkmn/b/b/y/7.png"], /* serpetone */
&[src*="pkmn/e/1/q/f.png"], /* toxilisk */
&[src*="pkmn/c/0/p/f.png"], /* gumairy egg */
&[src*="pkmn/k/h/l/n.png"], /* gumairy */
&[src*="pkmn/5/7/o/9.png"], /* eucylph */
&[src*="pkmn/8/u/p/z.png"], /* eucylph totem q */
&[src*="pkmn/g/6/g/a.png"], /* puppod egg */
&[src*="pkmn/z/3/o/c.png"], /* puppod */
&[src*="pkmn/g/v/c/u.png"], /* slugdog */
&[src*="pkmn/g/u/b/r.png"], /* slugdog totem forme q */
&[src*="pkmn/3/p/c/0.png"], /* rokiwi egg */
&[src*="pkmn/m/q/0/n.png"], /* rokiwi */
&[src*="pkmn/l/1/q/w.png"], /* brushiwi */
&[src*="pkmn/w/7/r/u.png"], /* alicalf egg */
&[src*="pkmn/f/x/p/v.png"], /* alicalf male */
&[src*="pkmn/1/r/1/6.png"], /* alicalf female */
&[src*="pkmn/d/e/2/7.png"], /* cetacorn male */
&[src*="pkmn/2/8/k/a.png"], /* cetacorn female */
&[src*="pkmn/e/2/x/i.png"], /* valkind egg */
&[src*="pkmn/a/r/w/a.png"], /* valkind */
&[src*="pkmn/f/f/u/m.png"], /* frayja */
&[src*="pkmn/u/s/8/z.png"], /* croaket egg */
&[src*="pkmn/c/8/d/w.png"], /* croaket */
&[src*="pkmn/f/7/1/f.png"], /* quibbit toxic forme */
&[src*="pkmn/o/9/1/l.png"], /* quibbit charged forme */
&[src*="pkmn/6/p/6/b.png"], /* quibbit herbal forme */
&[src*="pkmn/h/w/o/m.png"], /* quibbit magma forme */
&[src*="pkmn/9/a/8/a.png"], /* quibbit fae forme */
&[src*="pkmn/b/d/c/s.png"], /* slypin egg */
&[src*="pkmn/z/a/r/5.png"], /* slypin */
&[src*="pkmn/7/f/7/1.png"], /* haredini */
&[src*="pkmn/u/y/z/b.png"], /* selkrub egg */
&[src*="pkmn/4/r/g/t.png"], /* selkrub */
&[src*="pkmn/s/l/m/q.png"], /* aqrabion */
&[src*="pkmn/n/7/q/e.png"], /* skargas */
&[src*="pkmn/8/9/y/e.png"], /* kawotor egg */
&[src*="pkmn/2/i/9/l.png"], /* kawotor */
&[src*="pkmn/b/8/1/b.png"], /* lutriva */
&[src*="pkmn/g/p/0/8.png"], /* selutian */
&[src*="pkmn/z/w/5/6.png"], /* kitwurm egg */
&[src*="pkmn/3/u/p/t.png"], /* kitwurm */
&[src*="pkmn/a/s/u/8.png"], /* purrpa */
&[src*="pkmn/i/f/k/o.png"], /* moffkat */
&[src*="pkmn/3/u/4/u.png"], /* pepyre egg */
&[src*="pkmn/l/6/t/r.png"], /* pepyre */
&[src*="pkmn/c/3/k/0.png"], /* skarasear */
&[src*="pkmn/k/r/y/x.png"], /* aphreyd egg */
&[src*="pkmn/e/8/o/2.png"], /* aphreyd */
&[src*="pkmn/4/b/p/m.png"], /* scavandy */
&[src*="pkmn/6/l/6/7.png"], /* mantidra */
&[src*="pkmn/4/j/0/7.png"], /* caimaw egg */
&[src*="pkmn/2/5/n/8.png"], /* caimaw */
&[src*="pkmn/j/p/l/l.png"], /* caimangle */
&[src*="pkmn/x/9/s/x.png"], /* valimp egg */
&[src*="pkmn/v/v/r/e.png"], /* valimp */
&[src*="pkmn/t/2/e/l.png"], /* valladox */
&[src*="pkmn/b/u/5/0.png"], /* valenoir */
&[src*="pkmn/7/y/w/1.png"], /* frusky egg */
&[src*="pkmn/7/d/e/f.png"], /* frusky */
&[src*="pkmn/s/n/5/w.png"], /* glacifur */
&[src*="pkmn/9/i/2/3.png"], /* skyrie egg */
&[src*="pkmn/6/w/3/d.png"], /* skyrie */
&[src*="pkmn/y/t/7/t.png"], /* grymphony */
&[src*="pkmn/8/4/r/5.png"], /* shinorin egg */
&[src*="pkmn/4/a/z/9.png"], /* shinorin */
&[src*="pkmn/9/h/2/2.png"], /* shinorin incandescent */
&[src*="pkmn/b/0/3/n.png"], /* sikannos egg */
&[src*="pkmn/e/u/8/e.png"], /* sikannos */
&[src*="pkmn/f/7/f/f.png"], /* sikannos unfettered */
&[src*="pkmn/7/d/z/n.png"], /* goschief egg */
&[src*="pkmn/k/9/9/5.png"], /* goschief */
&[src*="pkmn/d/n/5/f.png"], /* havonk */
&[src*="pkmn/d/w/m/k.png"], /* mocknock egg */
&[src*="pkmn/d/4/2/g.png"], /* mocknock */
&[src*="pkmn/r/h/s/g.png"], /* portalgeist */
&[src*="pkmn/x/o/u/n.png"], /* flurrawr egg */
&[src*="pkmn/h/j/f/m.png"], /* flurrawr boreal */
&[src*="pkmn/u/5/b/o.png"], /* flurrawr austral */
&[src*="pkmn/c/7/5/o.png"], /* tundrasail boreal */
&[src*="pkmn/5/f/g/w.png"], /* tundrasail austral */
&[src*="pkmn/5/t/9/h.png"], /* parapod egg */
&[src*="pkmn/h/r/c/h.png"], /* parapod */
&[src*="pkmn/h/x/6/s.png"], /* craysprout */
&[src*="pkmn/3/e/6/a.png"], /* strelitzgon */
&[src*="pkmn/f/1/i/n.png"], /* caprikid egg */
&[src*="pkmn/h/8/g/s.png"], /* caprikid */
&[src*="pkmn/4/7/q/p.png"], /* saytaries */
&[src*="pkmn/h/l/w/l.png"], /* taurminos */
&[src*="pkmn/7/e/v/a.png"], /* sagidamas */
&[src*="pkmn/1/1/t/2.png"], /* tenrekki egg */
&[src*="pkmn/m/s/h/x.png"], /* tenrekki */
&[src*="pkmn/c/p/b/b.png"], /* possmol egg */
&[src*="pkmn/t/o/c.png"], /* possmol */
&[src*="pkmn/4/l/d/z.png"], /* opposham */
&[src*="pkmn/r/0/3/y.png"], /* opposkull */
&[src*="pkmn/g/k/o/9.png"], /* lunamor egg */
&[src*="pkmn/2/7/p/t.png"], /* lunamor */
&[src*="pkmn/s/h/9/e.png"], /* astrolochi */
&[src*="pkmn/g/a/u/4.png"], /* exilant egg */
&[src*="pkmn/t/x/u/x.png"], /* exilant */
&[src*="pkmn/w/1/s/8.png"], /* scorupt */
&[src*="pkmn/h/y/p/k.png"], /* lyruse egg */
&[src*="pkmn/1/w/0/n.png"], /* lyruse */
&[src*="pkmn/s/n/e/j.png"], /* musharp */
&[src*="pkmn/h/4/9/a.png"], /* smokackle egg */
&[src*="pkmn/n/g/o/0.png"], /* smokackle */
&[src*="pkmn/b/w/b/m.png"], /* hycano */
&[src*="pkmn/a/3/a/u.png"], /* inferial egg */
&[src*="pkmn/7/o/2/r.png"], /* inferial */
&[src*="pkmn/z/u/v/8.png"], /* gargodyle */
&[src*="pkmn/r/i/2/z.png"], /* mirrasma egg */
&[src*="pkmn/9/v/r/p.png"], /* mirrasma */
&[src*="pkmn/p/x/8.png"], /* mirrarch */
&[src*="pkmn/z/e/9/7.png"], /* slithugi egg */
&[src*="pkmn/x/k/u/z.png"], /* slithugi */
&[src*="pkmn/2/1/2/m.png"], /* sugikobra */
&[src*="pkmn/q/2/t/a.png"], /* babaisy egg */
&[src*="pkmn/q/x/y/7.png"], /* babaisy */
&[src*="pkmn/9/p/y/d.png"], /* chamobelle foraged forme */
&[src*="pkmn/a/g/5/v.png"], /* chamobelle elegant forme */
&[src*="pkmn/u/i/2/l.png"], /* ryumen egg */
&[src*="pkmn/m/v/v/0.png"], /* ryumen */
&[src*="pkmn/b/c/0/5.png"], /* ryudon */
&[src*="pkmn/8/h/j/e.png"], /* schweepy egg */
&[src*="pkmn/5/7/v/2.png"], /* schweepy */
&[src*="pkmn/x/u/q/n.png"], /* schwoomstick */
&[src*="pkmn/n/w/2/s.png"], /* cinnamoru egg */
&[src*="pkmn/y/n/l/f.png"], /* cinnamoru */
&[src*="pkmn/3/8/6/u.png"], /* croissaca */
&[src*="pkmn/5/l/1/5.png"], /* quokuddle egg */
&[src*="pkmn/h/d/m/g.png"], /* quokuddle */
&[src*="pkmn/x/x/y/6.png"], /* chark egg */
&[src*="pkmn/p/v/c/2.png"], /* chark */
&[src*="pkmn/q/s/p/1.png"], /* sharkoal */
&[src*="pkmn/c/h/2/p.png"], /* sharkoal mega forme q */
&[src*="pkmn/e/7/f/o.png"], /* dribbit egg */
&[src*="pkmn/r/3/o/5.png"], /* dribbit */
&[src*="pkmn/z/6/0/q.png"], /* frungus */
&[src*="pkmn/e/a/s/t.png"], /* frogayaga */
&[src*="pkmn/w/n/i/z.png"], /* seistatic egg */
&[src*="pkmn/1/k/p/c.png"], /* seistatic */
&[src*="pkmn/9/e/3/g.png"], /* voltaida */
&[src*="pkmn/b/c/5/f.png"], /* pasovan egg */
&[src*="pkmn/b/c/a/r.png"], /* pasovan natural */
&[src*="pkmn/t/r/y/w.png"], /* maravol egg */
&[src*="pkmn/6/g/g/n.png"], /* maravol aggro */
&[src*="pkmn/2/c/g/s.png"], /* maravol astral */
&[src*="pkmn/1/y/n/0.png"], /* maravol beast */
&[src*="pkmn/u/o/u.png"], /* maravol clone */
&[src*="pkmn/7/1/i/g.png"], /* maravol crystal */
&[src*="pkmn/9/v/0/7.png"], /* maravol dream */
&[src*="pkmn/t/l/s/v.png"], /* maravol flutter */
&[src*="pkmn/2/0/5/8.png"], /* maravol mimic */
&[src*="pkmn/9/d/o/j.png"], /* maravol moon */
&[src*="pkmn/j/n/h/y.png"], /* maravol pester */
&[src*="pkmn/n/7/8/r.png"], /* maravol petal */
&[src*="pkmn/s/j/r/4.png"], /* maravol prism */
&[src*="pkmn/h/i.png"], /* maravol quick */
&[src*="pkmn/e/s/d/r.png"], /* maravol repeat */
&[src*="pkmn/x/0/l/b.png"], /* maravol robinsoni */
&[src*="pkmn/q/x/7/i.png"], /* maravol sarahae */
&[src*="pkmn/d/3/l/2.png"], /* maravol skeletorus */
&[src*="pkmn/v/m/1/j.png"], /* maravol sparklemuffin */
&[src*="pkmn/b/x/7/r.png"], /* maravol spirit */
&[src*="pkmn/9/5/a/9.png"], /* maravol spooky */
&[src*="pkmn/h/m/f/1.png"], /* maravol vibrant */
&[src*="pkmn/c/x/q/t.png"], /* jester egg */
&[src*="pkmn/1/z/4/7.png"], /* jester tragedy */
&[src*="pkmn/g/4/i/n.png"], /* jester comedy */
&[src*="pkmn/3/t/z/8.png"], /* embretta egg */
&[src*="pkmn/s/3/4/8.png"], /* embretta */
&[src*="pkmn/m/n/8/0.png"], /* flaretta */
&[src*="pkmn/4/v/b.png"], /* platykit egg */
&[src*="pkmn/n/v/j/n.png"], /* platykit */
&[src*="pkmn/h/c/c/2.png"], /* platytank */
&[src*="pkmn/f/d/4/h.png"], /* sugarcoatl egg */
&[src*="pkmn/v/m/0/x.png"], /* sugarcoatl */
&[src*="pkmn/8/z/e/4.png"], /* canduceus */
&[src*="pkmn/b/k/h/6.png"], /* destrel egg */
&[src*="pkmn/d/l/w/y.png"], /* destrel */
&[src*="pkmn/t/5/4/c.png"], /* angroy */
&[src*="pkmn/j/n/t/t.png"], /* humbee egg */
&[src*="pkmn/u/z/9/j.png"], /* humbee male */
&[src*="pkmn/a/t/6/x.png"], /* humbee female */
&[src*="pkmn/q/k/s/d.png"], /* hummagona male */
&[src*="pkmn/z/y/s/m.png"], /* perroc egg */
&[src*="pkmn/e/a/1/0.png"], /* perroc metamorphic */
&[src*="pkmn/u/w/4/b.png"], /* perroc sedimentary */
&[src*="pkmn/o/3/4/e.png"], /* perroc igneous */
&[src*="pkmn/p/u/x/g.png"], /* tulby egg */
&[src*="pkmn/t/0/i/t.png"], /* tulby 1 */
&[src*="pkmn/9/6/s/f.png"], /* tulby 2 */
&[src*="pkmn/f/n/q/x.png"], /* tulby 3 */
&[src*="pkmn/c/n/d/p.png"], /* tulby 4 */
&[src*="pkmn/4/2/f/q.png"], /* tulby 5 */
&[src*="pkmn/v/a/c/w.png"], /* tuleer */
&[src*="pkmn/w/x/p/g.png"], /* erminja egg */
&[src*="pkmn/5/1/f/n.png"], /* erminja */
&[src*="pkmn/r/3/1/w.png"], /* shuritachi */
&[src*="pkmn/s/l/l/m.png"], /* littail egg */
&[src*="pkmn/w/2/9/u.png"], /* littail */
&[src*="pkmn/6/s/a/0.png"], /* signal */
&[src*="pkmn/m/w/y/7.png"], /* bafftoi egg */
&[src*="pkmn/q/q/s/h.png"], /* bafftoi */
&[src*="pkmn/9/0/o/s.png"] /* gobistream */
{
	filter: drop-shadow(5px 5px 5px #0086ff); /* Edit this line to customise your shadow */
	/* Syntax for the drop-shadow (<offset-horizontal> <offset-vertical> <blur> <color>) */
}}
/* End of Exclusives highlight in Shelter */


/* Variants highlight in Shelter */
img {
&[src*="pkmn/t/7/n/8.png"], /* saiyan rattata egg */
&[src*="pkmn/1/1/k/0.png"], /* saiyan rattata */
&[src*="pkmn/4/y/6/8.png"], /* super-saiyan rattata */
&[src*="pkmn/b/0/9/o.png"], /* super-saiyan raticate */
&[src*="pkmn/x/4/0/k.png"], /* super-saiyan 2 raticate */
&[src*="pkmn/5/u/u/b.png"], /* super-saiyan 3 raticate */
&[src*="pkmn/e/3/j/z.png"], /* super-saiyan 4 raticate */
&[src*="pkmn/2/2/a/h.png"], /* savage spearow egg */
&[src*="pkmn/k/c/7/8.png"], /* savage spearow */
&[src*="pkmn/h/h/8/l.png"], /* savage fearow */
&[src*="pkmn/b/p/l/8.png"], /* flying pichu egg */
&[src*="pkmn/6/2/l/m.png"], /* flying pichu */
&[src*="pkmn/q/i/m/w.png"], /* surfing pichu egg */
&[src*="pkmn/y/a/4/m.png"], /* surfing pichu male */
&[src*="pkmn/1/b/3/f.png"], /* surfing pichu female */
&[src*="pkmn/4/2/s/3.png"], /* flying pikachu male */
&[src*="pkmn/2/a/p/n.png"], /* flying pikachu female */
&[src*="pkmn/f/g/e/l.png"], /* surfing pikachu male */
&[src*="pkmn/v/5/m/c.png"], /* surfing pikachu female */
&[src*="pkmn/7/7/x/i.png"], /* snowboarding pikachu male */
&[src*="pkmn/l/s/1/7.png"], /* snowboarding pikachu female */
&[src*="pkmn/2/1/0/j.png"], /* flying raichu male */
&[src*="pkmn/5/u/p/o.png"], /* flying raichu female */
&[src*="pkmn/y/o/d/f.png"], /* surfing raichu male */
&[src*="pkmn/o/q/c/w.png"], /* surfing raichu female */
&[src*="pkmn/g/2/i/0.png"], /* snowboarding raichu male */
&[src*="pkmn/3/n/b/g.png"], /* snowboarding raichu female */
&[src*="pkmn/x/u/8/z.png"], /* shooting star cleffa egg */
&[src*="pkmn/e/n/1/q.png"], /* shooting star cleffa */
&[src*="pkmn/e/l/l/x.png"], /* shooting star clefairy */
&[src*="pkmn/4/p/e/p.png"], /* shooting star clefable */
&[src*="pkmn/e/r/g/t.png"], /* koroku egg */
&[src*="pkmn/t/i/o/0.png"], /* koroku */
&[src*="pkmn/c/8/g/2.png"], /* kyukori */
&[src*="pkmn/p/o/p/n.png"], /* guild igglybuff egg */
&[src*="pkmn/g/x/p/b.png"], /* guild igglybuff */
&[src*="pkmn/7/9/1/n.png"], /* guild jigglypuff */
&[src*="pkmn/e/1/q/m.png"], /* guild wigglytuff */
&[src*="pkmn/t/k/3/5.png"], /* apocalyptic growlithe egg */
&[src*="pkmn/m/2/2/z.png"], /* apocalyptic growlithe */
&[src*="pkmn/s/e/7/y.png"], /* apocalyptic arcanine */
&[src*="pkmn/h/2/l/9.png"], /* snowpoke egg */
&[src*="pkmn/1/n/b/r.png"], /* snowpoke */
&[src*="pkmn/q/r/d/l.png"], /* snowbro */
&[src*="pkmn/m/4/b/q.png"], /* snowking */
&[src*="pkmn/q/r/9/c.png"], /* death star voltorb egg */
&[src*="pkmn/s/s/6/4.png"], /* death star voltorb */
&[src*="pkmn/3/y/h/p.png"], /* death star electrode */
&[src*="pkmn/w/q/8/v.png"], /* early bird natu egg */
&[src*="pkmn/i/2/g/3.png"], /* early bird natu */
&[src*="pkmn/o/9/a/v.png"], /* early bird xatu male */
&[src*="pkmn/v/z/8/y.png"], /* early bird xatu female */
&[src*="pkmn/8/k/t/a.png"], /* galvanic wooper egg */
&[src*="pkmn/u/f/p/v.png"], /* galvanic wooper */
&[src*="pkmn/k/n/g/p.png"], /* galvanic quagsire */
&[src*="pkmn/2/a/b/4.png"], /* vampire gligar egg */
&[src*="pkmn/p/c/8/n.png"], /* vampire gligar */
&[src*="pkmn/u/k/t/k.png"], /* vampire gliscor */
&[src*="pkmn/5/l/v/g.png"], /* scaracross egg */
&[src*="pkmn/t/8/9/7.png"], /* scaracross */
&[src*="pkmn/y/8/5/p.png"], /* snichu egg */
&[src*="pkmn/r/9/l/9.png"], /* snichu male */
&[src*="pkmn/w/b/0/q.png"], /* snichu female */
&[src*="pkmn/a/1/7/9.png"], /* vilechu male */
&[src*="pkmn/v/g/j/2.png"], /* vilechu female */
&[src*="pkmn/9/u/f/z.png"], /* teddicursa egg */
&[src*="pkmn/n/g/c/s.png"], /* teddicursa */
&[src*="pkmn/6/g/z/g.png"], /* cursaring */
&[src*="pkmn/3/g/i/0.png"], /* blue moon slugma egg */
&[src*="pkmn/n/r/2/b.png"], /* blue moon slugma */
&[src*="pkmn/w/g/w/a.png"], /* blue moon magcargo */
&[src*="pkmn/9/8/x/o.png"], /* orthrus houndour egg */
&[src*="pkmn/d/4/h/k.png"], /* orthrus houndour */
&[src*="pkmn/x/0/e/e.png"], /* frosdour egg */
&[src*="pkmn/v/h/w/u.png"], /* frosdour */
&[src*="pkmn/r/v/l/4.png"], /* cerberus houndoom */
&[src*="pkmn/p/z/j/g.png"], /* chilldoom */
&[src*="pkmn/t/g/4/3.png"], /* xd001 egg */
&[src*="pkmn/9/j/b/f.png"], /* xd001 */
&[src*="pkmn/a/t/7/8.png"], /* inferno torchic egg */
&[src*="pkmn/s/p/0/g.png"], /* inferno torchic */
&[src*="pkmn/m/9/o/z.png"], /* inferno combusken */
&[src*="pkmn/j/w/m/c.png"], /* inferno blaziken */
&[src*="pkmn/i/f/i/n.png"], /* apocalyptic poochyena egg */
&[src*="pkmn/t/f/4/n.png"], /* apocalyptic poochyena */
&[src*="pkmn/a/t/e.png"], /* apocalyptic mightyena */
&[src*="pkmn/m/6/h/x.png"], /* snoralts egg */
&[src*="pkmn/p/l/o/g.png"], /* snoralts */
&[src*="pkmn/7/b/9/q.png"], /* snolia */
&[src*="pkmn/e/k/o/a.png"], /* frosvoir */
&[src*="pkmn/y/8/t/t.png"], /* glaillade */
&[src*="pkmn/d/e/w/e.png"], /* apocalyptic shroomish egg */
&[src*="pkmn/k/k/k/j.png"], /* apocalyptic shroomish */
&[src*="pkmn/l/c/s/9.png"], /* apocalyptic breloom */
&[src*="pkmn/u/h/t/9.png"], /* arctic numel egg */
&[src*="pkmn/s/7/x/a.png"], /* arctic numel male */
&[src*="pkmn/2/0/p/x.png"], /* arctic numel female */
&[src*="pkmn/n/1/e/l.png"], /* arctic camerupt male */
&[src*="pkmn/e/a/g/k.png"], /* arctic camerupt female */
&[src*="pkmn/a/k/t/n.png"], /* cactaboo egg */
&[src*="pkmn/p/y/8/9.png"], /* cactaboo */
&[src*="pkmn/m/e/q/4.png"], /* geisturne */
&[src*="pkmn/s/k/d/4.png"], /* ryukuza egg */
&[src*="pkmn/5/z/w/s.png"], /* ryukuza */
&[src*="pkmn/p/5/l/k.png"], /* magquaza egg */
&[src*="pkmn/z/r/4/e.png"], /* magquaza */
&[src*="pkmn/f/k/h/8.png"], /* seasonal turtwig spring egg */
&[src*="pkmn/3/z/s/w.png"], /* seasonal turtwig spring */
&[src*="pkmn/5/g/a/a.png"], /* seasonal turtwig summer egg */
&[src*="pkmn/g/4/h/g.png"], /* seasonal turtwig summer */
&[src*="pkmn/a/s/6/y.png"], /* seasonal turtwig autumn egg */
&[src*="pkmn/9/c/y/7.png"], /* seasonal turtwig autumn */
&[src*="pkmn/5/0/6/d.png"], /* seasonal turtwig winter egg */
&[src*="pkmn/8/b/x/e.png"], /* seasonal turtwig winter */
&[src*="pkmn/5/t/t/g.png"], /* seasonal grotle spring */
&[src*="pkmn/b/1/h/j.png"], /* seasonal grotle summer */
&[src*="pkmn/r/r/0/r.png"], /* seasonal grotle autumn */
&[src*="pkmn/v/n/c/b.png"], /* seasonal grotle winter */
&[src*="pkmn/q/h/j/d.png"], /* seasonal torterra spring */
&[src*="pkmn/a/0/o/g.png"], /* seasonal torterra summer */
&[src*="pkmn/q/m/9/8.png"], /* seasonal torterra autumn */
&[src*="pkmn/p/z/g/y.png"], /* seasonal torterra winter */
&[src*="pkmn/e/8/4/l.png"], /* igneous bidoof egg */
&[src*="pkmn/h/z/h/2.png"], /* igneous bidoof */
&[src*="pkmn/1/2/z/s.png"], /* igneous bibarel */
&[src*="pkmn/v/h/8/n.png"], /* shinxel egg */
&[src*="pkmn/3/y/3/f.png"], /* shinxel male */
&[src*="pkmn/d/b/h/x.png"], /* shinxel female */
&[src*="pkmn/j/g/k/1.png"], /* fluxio male */
&[src*="pkmn/w/q/g/y.png"], /* fluxio female */
&[src*="pkmn/h/9/8/c.png"], /* fluxray male */
&[src*="pkmn/8/q/x/r.png"], /* fluxray female */
&[src*="pkmn/j/i/c/t.png"], /* fluxray mega forme ] */
&[src*="pkmn/6/h/b/q.png"], /* snow combee egg */
&[src*="pkmn/w/f/a/x.png"], /* snow combee male */
&[src*="pkmn/d/v/h/z.png"], /* snow combee female */
&[src*="pkmn/f/i/z/5.png"], /* snow vespiquen */
&[src*="pkmn/e/p/4/p.png"], /* siberian glameow egg */
&[src*="pkmn/e/x/v/6.png"], /* siberian glameow */
&[src*="pkmn/e/u/9/1.png"], /* siberian purugly */
&[src*="pkmn/e/t/7/6.png"], /* basket happiny egg */
&[src*="pkmn/s/p/q/l.png"], /* basket happiny */
&[src*="pkmn/6/c/d/l.png"], /* basket chansey */
&[src*="pkmn/5/r/n/r.png"], /* basket blissey */
&[src*="pkmn/6/w/1/z.png"], /* gibolu egg */
&[src*="pkmn/o/x/f/p.png"], /* gibolu male */
&[src*="pkmn/7/c/g/z.png"], /* gibolu female */
&[src*="pkmn/z/0/n/z.png"], /* gabolu male */
&[src*="pkmn/n/u/o/9.png"], /* gabolu female */
&[src*="pkmn/k/q/g/d.png"], /* garcario male */
&[src*="pkmn/5/m/8/f.png"], /* garcario female */
&[src*="pkmn/k/2/u/q.png"], /* dialga primal forme q */
&[src*="pkmn/a/i/1/5.png"], /* palkia primal forme q */
&[src*="pkmn/9/r/1/3.png"], /* hallowe’en witch purrloin egg */
&[src*="pkmn/c/w/q/d.png"], /* hallowe’en witch purrloin */
&[src*="pkmn/4/d/1/0.png"], /* hallowe’em witch liepard */
&[src*="pkmn/y/y/8/o.png"], /* bubbly frillish egg */
&[src*="pkmn/x/i/u/y.png"], /* bubbly frillish male */
&[src*="pkmn/5/1/m/a.png"], /* bubbly frillish female */
&[src*="pkmn/o/x/n/5.png"], /* bubbly jellicent male */
&[src*="pkmn/x/t/h/a.png"], /* bubbly jellicent female */
&[src*="pkmn/e/i/j/n.png"], /* erupt litwick egg */
&[src*="pkmn/r/1/v/3.png"], /* erupt litwick */
&[src*="pkmn/s/1/o/6.png"], /* lavamp */
&[src*="pkmn/x/e/l/n.png"], /* yukitern */
&[src*="pkmn/7/p/3/b.png"], /* apocalyptic golett egg */
&[src*="pkmn/q/c/p/2.png"], /* apocalyptic golett */
&[src*="pkmn/k/5/h/m.png"], /* apocalyptic golurk */
&[src*="pkmn/i/e/s/x.png"], /* deinglitch egg */
&[src*="pkmn/2/u/r/b.png"], /* deinglitch */
&[src*="pkmn/n/e/e/s.png"], /* zweiglitch */
&[src*="pkmn/5/g/3/m.png"], /* hydreglitch */
&[src*="pkmn/u/7/c/q.png"], /* glileo egg */
&[src*="pkmn/x/w/q/x.png"], /* glileo male */
&[src*="pkmn/f/x/t/e.png"], /* glileo female */
&[src*="pkmn/m/7/m/v.png"], /* pyriscor male */
&[src*="pkmn/f/9/4/8.png"], /* pyriscor female */
&[src*="pkmn/z/6/i.png"], /* rose gift honedge egg */
&[src*="pkmn/1/r/8/a.png"], /* rose gift honedge */
&[src*="pkmn/o/d/5/y.png"], /* rose gift doublade */
&[src*="pkmn/z/1/0/y.png"], /* rose shield aegislash */
&[src*="pkmn/h/b/6/9.png"], /* rose bouquet aegislash */
&[src*="pkmn/m/q/c/n.png"], /* spritzkrow egg */
&[src*="pkmn/w/1/x/3.png"], /* spritzkrow */
&[src*="pkmn/9/r/e/6.png"], /* aromakrow */
&[src*="pkmn/l/s/w/r.png"], /* noismog egg */
&[src*="pkmn/2/h/4/o.png"], /* noismog */
&[src*="pkmn/g/9/8/7.png"], /* noismoem */
&[src*="pkmn/1/c/i/0.png"], /* solgavern */
&[src*="pkmn/r/u/b/2.png"], /* lunavern */
&[src*="pkmn/e/c/v/1.png"], /* incineroar feral */
&[src*="pkmn/s/8/j/g.png"], /* oricorio pointe */
&[src*="pkmn/8/u/m/p.png"], /* ruffwool egg */
&[src*="pkmn/v/y/v/i.png"], /* ruffwool */
&[src*="pkmn/z/n/d/3.png"], /* lycanwool midday */
&[src*="pkmn/l/q/f/i.png"], /* lycanwool midnight */
&[src*="pkmn/m/7/a/a.png"], /* magipede egg */
&[src*="pkmn/w/q/t/k.png"], /* magipede */
&[src*="pkmn/d/j/m/e.png"], /* mystiskorch */
&[src*="pkmn/f/o/6/q.png"], /* elekimp egg */
&[src*="pkmn/y/b/m/0.png"], /* elekimp */
&[src*="pkmn/p/f/r/q.png"], /* electagrem */
&[src*="pkmn/d/w/u/u.png"], /* electisnarl */
&[src*="pkmn/b/8/r.png"], /* sandslash totem q */
&[src*="pkmn/q/s/d/d.png"], /* lanturn totem q */
&[src*="pkmn/1/a/v/z.png"], /* sudowoodo male totem q */
&[src*="pkmn/c/9/l/j.png"], /* sudowoodo female totem q */
&[src*="pkmn/2/l/2/c.png"], /* donphan male totem q */
&[src*="pkmn/v/e/0/a.png"], /* donphan female totem q */
&[src*="pkmn/8/h/i/s.png"], /* masquerain totem q */
&[src*="pkmn/7/k/s/i.png"], /* whiscash totem q */
&[src*="pkmn/j/o/2/a.png"], /* walrein totem q */
&[src*="pkmn/l/p/v/a.png"], /* skuntank totem q */
&[src*="pkmn/d/h/1/2.png"], /* spiritomb totem q */
&[src*="pkmn/v/e/z/e.png"], /* mantine totem q */
&[src*="pkmn/b/t/f/n.png"], /* porygon-z totem q */
&[src*="pkmn/d/q/s/y.png"], /* leavanny totem q */
&[src*="pkmn/g/k/d/5.png"], /* maractus totem q */
&[src*="pkmn/s/h/t/g.png"], /* galvantula totem q */
&[src*="pkmn/3/8/c/4.png"], /* braviary totem q */
&[src*="pkmn/v/w/3/j.png"], /* mandibuzz totem q */
&[src*="pkmn/e/m/y/s.png"], /* talonflame totem q */
&[src*="pkmn/s/w/4/y.png"], /* malamar totem q */
&[src*="pkmn/g/g/9/0.png"], /* trevenant totem q */
&[src*="pkmn/e/t/1/c.png"], /* snow vespiquen totem q */
&[src*="pkmn/d/g/e/t.png"], /* stone horn */
&[src*="pkmn/e/3/o/p.png"], /* iron seagrass */
&[src*="pkmn/d/2/f/p.png"] /* clodsire totem q */
{
	filter: drop-shadow(5px 5px 5px #fa007c); /* Edit this line to customise your shadow */
	/* Syntax for the drop-shadow (<offset-horizontal> <offset-vertical> <blur> <color>) */
}}
/* End of Variants highlight in Shelter */

/* Legendary highlight in Shelter */
img {
&[src*="pkmn/f/m/u.png"], /* articuno egg */
&[src*="pkmn/o/u/2.png"], /* articuno */
&[src*="pkmn/s/7/d/t.png"], /* galarian articuno egg */
&[src*="pkmn/5/a/a/3.png"], /* galarian articuno */
&[src*="pkmn/o/2/t.png"], /* zapdos egg */
&[src*="pkmn/k/p/3.png"], /* zapdos */
&[src*="pkmn/u/s/s/y.png"], /* galarian zapdos egg */
&[src*="pkmn/k/l/n/c.png"], /* galarian zapdos */
&[src*="pkmn/k/z/u.png"], /* moltres egg */
&[src*="pkmn/n/z/7.png"], /* moltres */
&[src*="pkmn/o/r/b/p.png"], /* galarian moltres egg */
&[src*="pkmn/w/5/8/a.png"], /* galarian moltres */
&[src*="pkmn/j/t/q.png"], /* mewtwo egg */
&[src*="pkmn/4/c/9.png"], /* mewtwo */
&[src*="pkmn/r/i/f/d.png"], /* mewtwo mega x */
&[src*="pkmn/k/i/u.png"], /* mewtwo mega y */
&[src*="pkmn/4/3/u.png"], /* mew egg */
&[src*="pkmn/g/s/p.png"], /* mew */
&[src*="pkmn/d/u/t.png"], /* raikou egg */
&[src*="pkmn/h/a/5.png"], /* raikou */
&[src*="pkmn/f/a/8/9.png"], /* raging bolt */
&[src*="pkmn/j/a/6.png"], /* entei egg */
&[src*="pkmn/f/d/5.png"], /* entei */
&[src*="pkmn/9/b/2/c.png"], /* gouging fire */
&[src*="pkmn/4/v/s.png"], /* suicune egg */
&[src*="pkmn/e/6/p.png"], /* suicune */
&[src*="pkmn/4/w/a.png"], /* walking wake */
&[src*="pkmn/j/j/2.png"], /* lugia egg */
&[src*="pkmn/d/0/p.png"], /* lugia */
&[src*="pkmn/5/0/g.png"], /* ho-oh egg */
&[src*="pkmn/m/c/k.png"], /* ho-oh */
&[src*="pkmn/5/d/v.png"], /* celebi egg */
&[src*="pkmn/6/v/f.png"], /* celebi */
&[src*="pkmn/o/t/z.png"], /* regirock egg */
&[src*="pkmn/7/f/h.png"], /* regirock */
&[src*="pkmn/7/z/h.png"], /* regice egg */
&[src*="pkmn/g/s/r.png"], /* regice */
&[src*="pkmn/3/f/3.png"], /* registeel egg */
&[src*="pkmn/h/d/a.png"], /* registeel */
&[src*="pkmn/e/h/1.png"], /* latias egg */
&[src*="pkmn/j/n/7.png"], /* latias */
&[src*="pkmn/y/d/e/r.png"], /* latias mega */
&[src*="pkmn/j/j.png"], /* latios egg */
&[src*="pkmn/l/9/s.png"], /* latios */
&[src*="pkmn/w/g/c/q.png"], /* latios mega */
&[src*="pkmn/d/f/s.png"], /* kyogre egg */
&[src*="pkmn/i/7/5.png"], /* kyogre */
&[src*="pkmn/w/2/f/k.png"], /* kyogre primal */
&[src*="pkmn/c/x/7.png"], /* groudon egg */
&[src*="pkmn/3/m/l.png"], /* groudon */
&[src*="pkmn/h/9/r/4.png"], /* groudon primal */
&[src*="pkmn/8/0/s.png"], /* rayquaza egg */
&[src*="pkmn/9/m/w.png"], /* rayquaza */
&[src*="pkmn/6/d/n/t.png"], /* rayquaza mega */
&[src*="pkmn/8/b/h.png"], /* jirachi egg */
&[src*="pkmn/f/8/3.png"], /* jirachi */
&[src*="pkmn/c/z/q.png"], /* deoxys egg */
&[src*="pkmn/6/o/i.png"], /* deoxys */
&[src*="pkmn/i/u/s.png"], /* deoxys attack */
&[src*="pkmn/9/x/5.png"], /* deoxys defence */
&[src*="pkmn/1/j/z.png"], /* deoxys speed */
&[src*="pkmn/6/6/g.png"], /* uxie egg */
&[src*="pkmn/4/y/f.png"], /* uxie */
&[src*="pkmn/c/i/g.png"], /* mesprit egg */
&[src*="pkmn/l/d/0.png"], /* mesprit */
&[src*="pkmn/f/p/6.png"], /* azelf egg */
&[src*="pkmn/6/n/7.png"], /* azelf */
&[src*="pkmn/7/e/4.png"], /* dialga egg */
&[src*="pkmn/l/v/i.png"], /* dialga */
&[src*="pkmn/8/7/7/i.png"], /* dialga origin */
&[src*="pkmn/e/j/7.png"], /* palkia egg */
&[src*="pkmn/3/e/3.png"], /* palkia */
&[src*="pkmn/x/n/q/7.png"], /* palkia origin */
&[src*="pkmn/4/9.png"], /* heatran egg */
&[src*="pkmn/g/y/u.png"], /* heatran */
&[src*="pkmn/m/f/7.png"], /* regigigas egg */
&[src*="pkmn/k/i/c.png"], /* regigigas */
&[src*="pkmn/5/g/0.png"], /* giratina egg */
&[src*="pkmn/7/h/9.png"], /* giratina */
&[src*="pkmn/3/i/c.png"], /* giratina origin */
&[src*="pkmn/8/d/p.png"], /* cresselia egg */
&[src*="pkmn/4/z/m.png"], /* cresselia */
&[src*="pkmn/j/8/a.png"], /* manaphy egg */
&[src*="pkmn/4/p/f.png"], /* manaphy */
&[src*="pkmn/e/g/p.png"], /* darkrai egg */
&[src*="pkmn/e/9/v.png"], /* darkrai */
&[src*="pkmn/4/c/n.png"], /* shaymin egg */
&[src*="pkmn/o/7/d.png"], /* shaymin */
&[src*="pkmn/o/2/d.png"], /* shaymin sky */
&[src*="pkmn/v/a/b/f.png"], /* enamorus egg */
&[src*="pkmn/8/f/q/r.png"], /* enamorus */
&[src*="pkmn/h/0/l/s.png"], /* enamorus therian */
&[src*="pkmn/7/j/0/png"], /* arceus egg */
&[src*="pkmn/g/l/r.png"], /* arceus normal */
&[src*="pkmn/c/t/4.png"], /* arceus fire */
&[src*="pkmn/a/y/d.png"], /* arceus water */
&[src*="pkmn/9/b/a.png"], /* arceus electric */
&[src*="pkmn/1/x/1.png"], /* arceus grass */
&[src*="pkmn/8/x/e.png"], /* arceus ice */
&[src*="pkmn/f/2/d.png"], /* arceus fighting */
&[src*="pkmn/l/w.png"], /* arceus poison */
&[src*="pkmn/a/e/a.png"], /* arceus ground */
&[src*="pkmn/6/3/b.png"], /* arceus flying */
&[src*="pkmn/p/3/w.png"], /* arceus psychic */
&[src*="pkmn/8/s/o.png"], /* arceus bug */
&[src*="pkmn/5/r/7.png"], /* arceus rock */
&[src*="pkmn/a/2/e.png"], /* arceus ghost */
&[src*="pkmn/m/y/9.png"], /* arceus dragon */
&[src*="pkmn/8/9/4.png"], /* arceus steel */
&[src*="pkmn/j/3/j.png"], /* arceus dark */
&[src*="pkmn/m/1/l/2.png"], /* arceus fairy */
&[src*="pkmn/e/g/8.png"], /* victini egg */
&[src*="pkmn/o/z/m.png"], /* victini */
&[src*="pkmn/1/m/b.png"], /* cobalion egg */
&[src*="pkmn/g/w/x.png"], /* cobalion */
&[src*="pkmn/q/l/c/g.png"], /* iron crown */
&[src*="pkmn/i/s/f.png"], /* terrakoin egg */
&[src*="pkmn/c/8/z.png"], /* terrakoin */
&[src*="pkmn/d/s/y/8.png"], /* iron boulder */
&[src*="pkmn/2/7/e.png"], /* virizion egg */
&[src*="pkmn/5/t/0.png"], /* virizion */
&[src*="pkmn/6/4/v/4.png"], /* iron leaves */
&[src*="pkmn/f/a/4.png"], /* tornadus egg */
&[src*="pkmn/3/2/w.png"], /* tornadus */
&[src*="pkmn/b/u/q.png"], /* tornadus therian */
&[src*="pkmn/4/e/h.png"], /* thundurus egg */
&[src*="pkmn/g/a/k.png"], /* thundurus */
&[src*="pkmn/2/h/g.png"], /* thundurus therian */
&[src*="pkmn/2/o/w.png"], /* reshiram egg */
&[src*="pkmn/9/x/x.png"], /* reshiram */
&[src*="pkmn/l/w/u.png"], /* zekrom egg */
&[src*="pkmn/6/c/f.png"], /* zekrom */
&[src*="pkmn/o/o/7.png"], /* landorus egg */
&[src*="pkmn/k/r/w.png"], /* landorus */
&[src*="pkmn/1/c/9.png"], /* landorus therian */
&[src*="pkmn/j/j/u.png"], /* kyurem egg */
&[src*="pkmn/m/p/4.png"], /* kyurem */
&[src*="pkmn/3/i/1.png"], /* kyurem reshiram */
&[src*="pkmn/a/p/h.png"], /* kyurem zekrom */
&[src*="pkmn/f/6/2.png"], /* keldeo egg */
&[src*="pkmn/1/6/3.png"], /* keldeo */
&[src*="pkmn/j/9/q.png"], /* keldeo resolute */
&[src*="pkmn/4/q/7.png"], /* meloetta egg */
&[src*="pkmn/7/p/1.png"], /* meloetta */
&[src*="pkmn/j/l/8.png"], /* meloetta pirouette */
&[src*="pkmn/e/c/y.png"], /* genesect egg */
&[src*="pkmn/1/j/5.png"], /* genesect */
&[src*="pkmn/a/2/b.png"], /* genesect douse drive */
&[src*="pkmn/g/j/5.png"], /* genesect burn drive */
&[src*="pkmn/b/x/b.png"], /* genesect chill drive */
&[src*="pkmn/4/q/p.png"], /* genesect shock drive */
&[src*="pkmn/6/6/t/v.png"], /* xerneas egg */
&[src*="pkmn/n/d/q/b.png"], /* xerneas */
&[src*="pkmn/z/s/1/a.png"], /* xerneas active */
&[src*="pkmn/3/a/l/s.png"], /* yveltal egg */
&[src*="pkmn/4/0/2.png"], /* yveltal */
&[src*="pkmn/1/8/n/f.png"], /* zygarde egg */
&[src*="pkmn/w/x/y.png"], /* zygarde */
&[src*="pkmn/d/s/7/4.png"], /* zygarde 10 */
&[src*="pkmn/x/9/x/y.png"], /* zygarde 50 */
&[src*="pkmn/k/7/4/r.png"], /* zygarde complete */
&[src*="pkmn/y/n/e/8.png"], /* diancie egg */
&[src*="pkmn/q/z/9.png"], /* diancie */
&[src*="pkmn/e/h/v/u.png"], /* diancie mega */
&[src*="pkmn/3/j/h/j.png"], /* hoopa egg */
&[src*="pkmn/7/c/u.png"], /* hoopa */
&[src*="pkmn/n/4/f/5.png"], /* hoopa unbound */
&[src*="pkmn/c/0/7/g.png"], /* volcanion egg */
&[src*="pkmn/q/6/8/m.png"], /* volcanion */
&[src*="pkmn/k/3/k/2.png"], /* type null egg */
&[src*="pkmn/7/u/f/i.png"], /* type null */
&[src*="pkmn/5/m/s/7.png"], /* tapu koko egg */
&[src*="pkmn/2/v/e/r.png"], /* tapu koko */
&[src*="pkmn/y/7/h/s.png"], /* tapu lele egg */
&[src*="pkmn/s/d/q/z.png"], /* tapu lele */
&[src*="pkmn/v/s/i/u.png"], /* tapu bulu egg */
&[src*="pkmn/c/j/h/n.png"], /* tapu bulu */
&[src*="pkmn/g/r/d/9.png"], /* tapu fini egg */
&[src*="pkmn/2/z/q/j.png"], /* tapu fini */
&[src*="pkmn/j/0/4/4.png"], /* cosmog egg */
&[src*="pkmn/k/l/f/2.png"], /* cosmog */
&[src*="pkmn/w/u/e/r.png"], /* cosmoem */
&[src*="pkmn/i/9/p/8.png"], /* solgaleo */
&[src*="pkmn/d/q/q/y.png"], /* lunala */
&[src*="pkmn/n/3/v/v.png"], /* necrozma egg */
&[src*="pkmn/f/7/v/9.png"], /* necrozma */
&[src*="pkmn/k/6/1/c.png"], /* necrozma dusk mane */
&[src*="pkmn/6/a/1/a.png"], /* necrozma dawn wings */
&[src*="pkmn/d/h/z/u.png"], /* necrozma ultra */
&[src*="pkmn/3/o/f/g.png"], /* magearna egg */
&[src*="pkmn/q/g/b/t.png"], /* magearna */
&[src*="pkmn/9/8/0/i.png"], /* marshadow egg */
&[src*="pkmn/c/w/2/j.png"], /* marshadow */
&[src*="pkmn/7/c/y/3.png"], /* zeraora egg */
&[src*="pkmn/b/3/j/y.png"], /* zeraora */
&[src*="pkmn/q/g/3/y.png"], /* meltan egg */
&[src*="pkmn/2/2/du.png"], /* meltan */
&[src*="pkmn/6/x/w/k.png"], /* melmetal */
&[src*="pkmn/w/x/f/m.png"], /* silvally normal */
&[src*="pkmn/7/2/4/j.png"], /* silvally fire */
&[src*="pkmn/m/x/n/z.png"], /* silvally water */
&[src*="pkmn/w/u/d/v.png"], /* silvally electric */
&[src*="pkmn/2/r/k/j.png"], /* silvally grass */
&[src*="pkmn/n/0/7/7.png"], /* silvally ice */
&[src*="pkmn/h/p/c/m.png"], /* silvally fighting */
&[src*="pkmn/w/y/i/h.png"], /* silvally poison */
&[src*="pkmn/q/u/a/6.png"], /* silvally ground */
&[src*="pkmn/l/n/0/w.png"], /* silvally flying */
&[src*="pkmn/2/8/c/d.png"], /* silvally psychic */
&[src*="pkmn/9/b/9/o.png"], /* silvally bug */
&[src*="pkmn/b/f/x/c.png"], /* silvally rock */
&[src*="pkmn/n/f/c/0.png"], /* silvally ghost */
&[src*="pkmn/r/3/9/x.png"], /* silvally dragon */
&[src*="pkmn/v/9/d/7.png"], /* silvally dark */
&[src*="pkmn/9/n/z/y.png"], /* silvally steel */
&[src*="pkmn/p/p/z/4.png"], /* silvally fairy */
&[src*="pkmn/d/u/s/i.png"], /* zacian egg */
&[src*="pkmn/h/1/9/f.png"], /* zacian */
&[src*="pkmn/n/7/l/h.png"], /* zacian crowned */
&[src*="pkmn/o/2/g/f.png"], /* zamazenta egg */
&[src*="pkmn/z/f/d/2.png"], /* zamazenta */
&[src*="pkmn/7/u/8/a.png"], /* zamazenta crowned */
&[src*="pkmn/m/e/2/i.png"], /* eternatus egg */
&[src*="pkmn/6/p/7/p.png"], /* eternatus */
&[src*="pkmn/4/i/8/d.png"], /* kubfu egg */
&[src*="pkmn/j/w/9/w.png"], /* kubfu */
&[src*="pkmn/p/9/q/i.png"], /* urshifu single strike */
&[src*="pkmn/q/e/2/y.png"], /* urshifu rapid strike */
&[src*="pkmn/5/o/q/4.png"], /* regieleki egg */
&[src*="pkmn/l/u/b/r.png"], /* regieleki */
&[src*="pkmn/h/0/t/b.png"], /* regidrago egg */
&[src*="pkmn/t/h/3/e.png"], /* regidrago */
&[src*="pkmn/n/7/l/s.png"], /* glastrier egg */
&[src*="pkmn/4/9/l/f.png"], /* glastrier */
&[src*="pkmn/z/t/3/r.png"], /* spectrier egg */
&[src*="pkmn/5/v/v/a.png"], /* spectrier */
&[src*="pkmn/o/9/5/u.png"], /* calyrex egg */
&[src*="pkmn/3/d/1/k.png"], /* calyrex */
&[src*="pkmn/h/s/9/8.png"], /* calyrex ice rider */
&[src*="pkmn/n/3/y/v.png"], /* calyrex shadow rider */
&[src*="pkmn/f/w/f/t.png"], /* zarude no vines */
&[src*="pkmn/s/y/k/6.png"], /* zarude egg */
&[src*="pkmn/r/9/z/9.png"], /* zarude upper arm vines */
&[src*="pkmn/3/z/b/k.png"], /* zarude lower arm vines */
&[src*="pkmn/o/l/x/m.png"], /* zarude stomach vines */
&[src*="pkmn/x/o/v/6.png"], /* zarude leg vines */
&[src*="pkmn/v/o/e/1.png"], /* wo-chien egg */
&[src*="pkmn/e/f/i/i.png"], /* wo-chien */
&[src*="pkmn/o/6/0/b.png"], /* chien-pao egg */
&[src*="pkmn/n/y/r/t.png"], /* chien-pao */
&[src*="pkmn/4/o/k/a.png"], /* ting-lu egg */
&[src*="pkmn/p/f/v/1.png"], /* ting-lu */
&[src*="pkmn/e/h/x/3.png"], /* chi-yu egg */
&[src*="pkmn/f/q/y/2.png"], /* chi-yu */
&[src*="pkmn/p/m/q/8.png"], /* okidogi egg */
&[src*="pkmn/u/m/q/q.png"], /* okidoki */
&[src*="pkmn/6/2/o/b.png"], /* munkidori egg */
&[src*="pkmn/e/z/1/x.png"], /* munkidori */
&[src*="pkmn/n/r/d/e.png"], /* fezandipiti egg */
&[src*="pkmn/7/i/m/z.png"], /* fezandipiti */
&[src*="pkmn/r/g/1/u.png"], /* ogerpon egg */
&[src*="pkmn/w/i/j/2.png"], /* ogerpon */
&[src*="pkmn/n/l/b/6.png"], /* ogerpon teal mask */
&[src*="pkmn/n/v/z/v.png"], /* ogerpon wellspring mask */
&[src*="pkmn/g/q/7/o.png"], /* ogerpon cornerstone mask */
&[src*="pkmn/i/q/j/i.png"], /* ogerpon hearthflame mask */
&[src*="pkmn/z/c/x/a.png"], /* terapagos egg */
&[src*="pkmn/o/5/7/s.png"], /* terapagos */
&[src*="pkmn/t/p/m/k.png"], /* terapagos terastal */
&[src*="pkmn/x/d/c/x.png"], /* pecharunt egg */
&[src*="pkmn/r/n/6/7.png"], /* pecharunt */
&[src*="pkmn/g/k/o/9.png"], /* lunamor egg */
&[src*="pkmn/2/7/p/t.png"], /* astrolochi egg */
&[src*="pkmn/8/4/r/5.png"], /* shinorin egg */
&[src*="pkmn/4/a/z/9.png"], /* shinorin */
&[src*="pkmn/9/h/2/2.png"], /* shinorin incandescent */
&[src*="pkmn/b/0/3/n.png"], /* sikannos egg */
&[src*="pkmn/e/u/8/e.png"], /* sikannos */
&[src*="pkmn/f/7/f/f.png"], /* sikannos unfettered */
&[src*="pkmn/t/g/4/3.png"], /* xd001 egg */
&[src*="pkmn/9/j/b/f.png"], /* xd001 */
&[src*="pkmn/p/5/l/k.png"], /* magquaza egg */
&[src*="pkmn/z/r/4/e.png"], /* magquaza */
&[src*="pkmn/9/3/j/4.png"], /* mew mega q */
&[src*="pkmn/h/9/t/t.png"], /* lugia mega q */
&[src*="pkmn/f/b/b/2.png"], /* ho-oh mega q */
&[src*="pkmn/2/2/c/d.png"], /* celebi mega q */
&[src*="pkmn/7/3/9/9.png"], /* jirachi mega q */
&[src*="pkmn/w/u/4/8.png"], /* giratina mega q */
&[src*="pkmn/g/6/7/t.png"], /* manaphy mega q */
&[src*="pkmn/3/o/p/k.png"], /* shaymin mega q */
&[src*="pkmn/n/i/k/7.png"], /* victini mega q */
&[src*="pkmn/7/w/0/n.png"] /* marshadow mega q */
{
	filter: drop-shadow(5px 5px 5px #f5e31d); /* Edit this line to customise your shadow */
	/* Syntax for the drop-shadow (<offset-horizontal> <offset-vertical> <blur> <color>) */
}}
/* End of Legendary highlight in Shelter */

/* Totem highlight in Shelter */
img {
&[src*="pkmn/3/4/y/0.png"], /* raticate alolan totem */
&[src*="pkmn/p/r/6/7.png"], /* marowak alolan totem */
&[src*="pkmn/d/c/9/p.png"], /* gumshoos totem */
&[src*="pkmn/j/7/i/n.png"], /* vikavolt totem */
&[src*="pkmn/1/v/e/0.png"], /* ribombee totem */
&[src*="pkmn/j/a/u/n.png"], /* wishiwashi totem */
&[src*="pkmn/d/z/7/i.png"], /* araquanid totem */
&[src*="pkmn/n/n/5/2.png"], /* lurantis totem */
&[src*="pkmn/d/k/f/i.png"], /* salazzle totem */
&[src*="pkmn/c/w/s/8.png"], /* togedemaru totem */
&[src*="pkmn/u/y/q/z.png"], /* mimikyu totem */
&[src*="pkmn/l/6/7/a.png"], /* kommo-o totem */
&[src*="pkmn/b/8/r.png"], /* sandslash totem q */
&[src*="pkmn/q/s/d/d.png"], /* lanturn totem q */
&[src*="pkmn/1/a/v/z.png"], /* sudowoodo male totem q */
&[src*="pkmn/c/9/l/j.png"], /* sudowoodo female totem q */
&[src*="pkmn/2/l/2/c.png"], /* donphan male totem q */
&[src*="pkmn/v/e/0/a.png"], /* donphan female totem q */
&[src*="pkmn/8/h/i/s.png"], /* masquerain totem q */
&[src*="pkmn/7/k/s/i.png"], /* whiscash totem q */
&[src*="pkmn/j/o/2/a.png"], /* walrein totem q */
&[src*="pkmn/l/p/v/a.png"], /* skuntank totem q */
&[src*="pkmn/d/h/1/2.png"], /* spiritomb totem q */
&[src*="pkmn/v/e/z/e.png"], /* mantine totem q */
&[src*="pkmn/b/t/f/n.png"], /* porygon-z totem q */
&[src*="pkmn/d/q/s/y.png"], /* leavanny totem q */
&[src*="pkmn/g/k/d/5.png"], /* maractus totem q */
&[src*="pkmn/s/h/t/g.png"], /* galvantula totem q */
&[src*="pkmn/3/8/c/4.png"], /* braviary totem q */
&[src*="pkmn/v/w/3/j.png"], /* mandibuzz totem q */
&[src*="pkmn/e/m/y/s.png"], /* talonflame totem q */
&[src*="pkmn/s/w/4/y.png"], /* malamar totem q */
&[src*="pkmn/g/g/9/0.png"], /* trevenant totem q */
&[src*="pkmn/e/t/1/c.png"], /* snow vespiquen totem q */
&[src*="pkmn/g/u/b/r.png"], /* slugdog totem q */
&[src*="pkmn/8/u/p/z.png"], /* eucylph totem q */
&[src*="pkmn/d/2/f/p.png"] /* clodsire totem q */
{
	filter: drop-shadow(5px 5px 5px #ffa600); /* Edit this line to customise your shadow */
	/* Syntax for the drop-shadow (<offset-horizontal> <offset-vertical> <blur> <color>) */
}}
/* End of Totem highlight in Shelter */

/* Paradox highlight in Shelter */
img {
&[src*="pkmn/c/a/t/r.png"], /* scream tail */
&[src*="pkmn/x/s/8/0.png"], /* sandy shocks */
&[src*="pkmn/l/f/d.png"], /* iron bundle */
&[src*="pkmn/j/u/w/l.png"], /* iron treads */
&[src*="pkmn/k/8/v/w.png"], /* great tusk */
&[src*="pkmn/n/d/h.png"], /* flutter mane */
&[src*="pkmn/e/m/n/0.png"], /* iron thorns */
&[src*="pkmn/f/a/8/9.png"], /* raging bolt */
&[src*="pkmn/9/b/2/c.png"], /* gouging fire */
&[src*="pkmn/4/w/a.png"], /* walking wake */
&[src*="pkmn/a/1/h/q.png"], /* iron valiant */
&[src*="pkmn/6/2/c/d.png"], /* iron hands */
&[src*="pkmn/9/r/8/8.png"], /* roaring moon */
&[src*="pkmn/e/4/o/v.png"], /* brute bonnet */
&[src*="pkmn/c/z/q/p.png"], /* iron jugulis */
&[src*="pkmn/l/e/t/7.png"], /* iron moth */
&[src*="pkmn/o/n/i/0.png"], /* slither wing */
&[src*="pkmn/q/l/c/g.png"], /* iron crown */
&[src*="pkmn/d/s/y/8.png"], /* iron boulder */
&[src*="pkmn/6/4/v/4.png"], /* iron leaves */
&[src*="pkmn/n/j/0/9.png"], /* koraidon limited build */
&[src*="pkmn/d/w/0/6.png"], /* koraidon apex build */
&[src*="pkmn/u/6/4/l.png"], /* miraidon low power mode */
&[src*="pkmn/r/7/2/r.png"], /* miraidon ultimate mode */
&[src*="pkmn/d/g/e/t.png"], /* stone horn */
&[src*="pkmn/e/3/o/p.png"] /* iron seagrass */
{
	filter: drop-shadow(5px 5px 5px #9a08fc); /* Edit this line to customise your shadow */
	/* Syntax for the drop-shadow (<offset-horizontal> <offset-vertical> <blur> <color>) */
}}
/* End of Paradox highlight in Shelter */

/* Ultra Beasts highlight in Shelter */
img {
&[src*="pkmn/z/c/i/w.png"], /* nihilego egg */
&[src*="pkmn/l/3/z/m.png"], /* nihilego */
&[src*="pkmn/2/n/1/d.png"], /* buzzwole egg */
&[src*="pkmn/z/6/2/e.png"], /* buzzwole */
&[src*="pkmn/d/e/3/i.png"], /* pheromosa egg */
&[src*="pkmn/n/7/8/8.png"], /* pheromosa */
&[src*="pkmn/3/0/r/9.png"], /* xurkitree egg */
&[src*="pkmn/n/f/6/j.png"], /* xurkitree */
&[src*="pkmn/m/a/v/e.png"], /* celesteela egg */
&[src*="pkmn/4/v/2/s.png"], /* celesteela */
&[src*="pkmn/e/r/7/r.png"], /* kartana egg */
&[src*="pkmn/j/d/9/g.png"], /* kartana */
&[src*="pkmn/p/k/v/c.png"], /* guzzlord egg */
&[src*="pkmn/x/7/9/2.png"], /* guzzlord */
&[src*="pkmn/e/x/w/e.png"], /* poipole egg */
&[src*="pkmn/t/2/e/m.png"], /* poipole */
&[src*="pkmn/x/2/7/e.png"], /* naganadel */
&[src*="pkmn/k/o/h/o.png"], /* stakataka egg */
&[src*="pkmn/5/2/4/y.png"], /* stakataka */
&[src*="pkmn/n/b/1/m.png"], /* blacephalon egg */
&[src*="pkmn/8/v/i/3.png"] /* blacephalon */
{
	filter: drop-shadow(5px 5px 5px #3802f7); /* Edit this line to customise your shadow */
	/* Syntax for the drop-shadow (<offset-horizontal> <offset-vertical> <blur> <color>) */
}}
/* End of Ultra Beasts highlight in Shelter */


